
<mat-card>
  <mat-card-title>Developer Panel</mat-card-title>
  <mat-card-content>
    <div class="content-container">
      <div class="col">
        <h3>Commands In Queue: ({{commandsInQueue}})</h3>
        <mat-progress-bar mode="determinate" [value]="commandsPercentage"></mat-progress-bar>
        <table>
          <tr>
            <th>Commands In Queue</th>
            <th>Local view model version</th>
            <th>Remote view model version</th>
          </tr>
          <tr>
            <td>{{commandsInQueue}}</td>
            <td>{{localVersion}}</td>
            <td>{{remoteServerVersion}}</td>
          </tr>
        </table>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="incrementServerModelVersion()">Increment Server Version</button>

  </mat-card-actions>
</mat-card>
