name: test
on:
  push:
    branches: [main] # remove later
  release:
    types: [created]
jobs:
  say-hello:
    runs-on: ubuntu-latest
    defaults:
     run:
      working-directory: src/workspace
    permissions:
     contents: read
     packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
         node-version: '18.x'
         registry-url: 'https://registry.npmjs.org'
         scope: '@jcachay'
      - name: install packages
        run: npm ci
      - name: build
        run: npm run ng build --project jcg-command-queue
      - name: test
        run: npm run test
      - name: npm publish
        run: npm --prefix src/workspace/dist/jcg-command-queue publish  # by default, scoped packages are publish as private
        env:
         NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}



      #jobs:
#  build:
#    runs-on: ubuntu-latest
#    defaults:
#      run:
#        working-directory: ./dist/jcg-command-queue
#    permissions:
#      contents: read
#      packages: write
#    steps:
#      - uses: actions/checkout@v3
#      # Setup .npmrc file to publish to npm
#      - uses: actions/setup-node@v3
#        with:
#          node-version: '18.x'
#          registry-url: 'https://registry.npmjs.org'
#          scope: '@jcachay'
#      - run: npm ci
      #- run: npm publish
      #  env:
      #    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}


#name: test
#on:
#  push:
#    branches: [main] # remove later
#  release:
#    types: [created]
#jobs:
#  say-hello:
#    runs-on: ubuntu-latest
#    defaults:
#      run:
#        working-directory: src/workspace
#    permissions:
#      contents: read
#    steps:
#      - uses: actions/checkout@v3
#      - uses: actions/setup-node@v3
#        with:
#          node-version: '18.x'
#          registry-url: 'https://registry.npmjs.org'
#          scope: '@jcachay'
#      - name: install packages
#        run: npm ci
#      - name: build
#        run: npm run ng build --project jcg-command-queue
#      - name: test
#        run: npm run test
#  publish:
#    runs-on: ubuntu-latest
#    defaults:
#      run:
#        working-directory: src/workspace
#    permissions:
#      contents: read
#    steps:
#      - name: test-again
#        run: npm run test
